.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: var(--space-sm) var(--space-xl);

    border: 1px solid transparent;
    border-radius: var(--radius-md);

    background: var(--color-primary);
    color: var(--color-surface);

    font-size: var(--font-size-md);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;

    transition: var(--transition);

    &:hover:not(:disabled) {
        background: var(--color-primary-hover);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &--secondary {
        background: transparent;
        color: var(--color-primary);
        border-color: var(--color-primary);

        &:hover:not(:disabled) {
            background: var(--color-primary);
            color: var(--color-surface);
        }
    }
}